---
title: Correct a previous test result
meta: How to make changes to COVID-19 test results in SimpleReport
layout: page
class: page-docs
sidenav: resources
home_link: true
return_top: 'true'
---

If something goes wrong with a test result, you can correct it in SimpleReport. The previous result will still be visible, but marked as an error and submitted to the public health department. Make sure to also submit a new, corrected test result (backdated to the original test date) after completing the steps here.

To correct a previous test result:
1. Click **Results** at the top of the page.
![SimpleReport's top navigation, with the "Results" tab selected]({% link assets/img/resources/correct-a-previous-test-result/step-1.png %})
2. A table of results from your testing facility will appear showing the most recent 20 results. Click through pages to see older results, or you can filter at the top for patient name, date range, test result, role, and testing facility.
3. Find the result in the table, and go all the way to the right of the page. Under the “Actions” column, click the three dots in the same row as the result that you want to correct.
![A table of test results in SimpleReport, showing the three dots icon under the "Actions" column]({% link assets/img/resources/correct-a-previous-test-result/step-3.png %})
4. Click **Mark as error**.
![The dropdown menu that appears after you click the three dots icon, with the "Mark as error" item selected]({% link assets/img/resources/correct-a-previous-test-result/step-4.png %}){: .maxw-card-lg }
5. A box will appear and ask you why you want to mark the result as an error. Enter a reason, then click **Yes, I’m sure**. (Your reason needs to be at least 4 characters long before you can proceed.)
![A window asking "Are you sure you want to mark this result for Jane Doe as an error? If so, please enter a reason." The example text in the input field reminds you to make sure that your reason is at least four characters long.]({% link assets/img/resources/correct-a-previous-test-result/step-5.png %}){: .maxw-mobile-lg }

The result will be marked as an error, and will appear with a strike through it when you review it in the future.
![The table of test results with the test result struck through to indicate that it's been marked as an error.]({% link assets/img/resources/correct-a-previous-test-result/result.png %})

To submit a new, corrected result to replace the one now marked as an error, follow the instructions to [report a test]({% link _pages/using-simplereport/conduct-and-submit-tests/index.md %}), and be sure to update the date and time of the test to reflect when the first test originally occurred (you may need to backdate it).
