---
title: Download test results
meta: How to download COVID-19 test results from SimpleReport
layout: page
class: page-docs
sidenav: resources
home_link: true
return_top: "true"
---
You can filter results by name, test date, test result, or role and download them as a CSV file to your computer.

To download test results:

1. Enter the information to filter and select the type of test results you want to download. Filters are any of the categories at the top of the page, for example a test date or range, a type of result, and/or results from a certain test group (role) such as staff, students, visitors, etc. 
2. Select **Download results** and confirm. The results with the filters you selected will download to your computer.
3. To view other test results or start a new download, select **Clear filters**. 
