---
title: Send someone’s test result
meta: How to text, email, or print a patient's COVID-19 test results from SimpleReport
layout: page
class: page-docs
sidenav: resources
home_link: true
return_top: 'true'
---

You can send or resend test results to patients through SimpleReport.

To send or resend someone’s test result:
1. Click **Results** at the top of the page.
![SimpleReport's top navigation, with the "Results" tab selected]({% link assets/img/resources/print-someones-test-results/step-1.png %})
2. A table of results from your testing facility will appear showing all results from the past 48 hours. To show older results, you can always click the blue **See all results** button at the bottom of the page.
3. Find the result that you want to send, and go all the way to the right of the page. Under the “Actions” column, click the three dots in the same row as the result that you want to send.
![A table of test results in SimpleReport, showing the three dots icon under the "Actions" column]({% link assets/img/resources/print-someones-test-results/step-3.png %})
4. Select the option you want then select **Print result**, **Email result**, or **Text result**.
![The dropdown menu that appears after you click the three dots icon, with the "Print result" item selected]({% link assets/img/resources/print-someones-test-results/step-4.png %})
5. A preview of the test result will appear. Select the option you want and follow the instructions to print, email, or text the result.
