---
title: Review test results
meta: How to view patient’s COVID-19 test results in SimpleReport
layout: page
class: page-docs
sidenav: resources
home_link: true
return_top: "true"
---

If you work for a testing facility and submit tests one by one, you can find your patients’ COVID-19 results using these steps.

If you upload results in bulk, visit your [upload history]({% link _pages/using-simplereport/manage-results/see-upload-history.md %}) instead. Results you submit to SimpleReport through a spreadsheet do not appear as individual entries in the Results page.

1. Click Results at the top of the page.
   ![SimpleReport's top navigation, with the "Results" tab selected]({% link assets/img/resources/review-results/step-1.png %})
2. A table of results from your testing facility will appear showing the most recent 20 results. Click through pages to see older results, or you can filter at the top for patient name, date range, test result, role, and testing facility. Note: This does not include results uploaded to SimpleReport with a spreadsheet.

If there’s a problem with any result, you can [mark it as an error]({% link _pages/using-simplereport/manage-results/correct-a-previous-test-result.md %}).

<div class="usa-alert usa-alert--info">
  <div class="usa-alert__body">
    <p class="usa-alert__text"> If you’re a patient who recently got tested, please contact the facility directly for your <a href="https://www.simplereport.gov/covid-19-results/">COVID-19 test results.</a></p>
  </div>
</div>
