_release/
_site
.DS_Store
.gz
.jekyll-cache
.jekyll-metadata
.sass-cache
assets/uswds
node_modules/
.env
artifact.zip
artifact/
deploy.json
_config.local.yml
Dockerfile
docker-compose.yml
spec/dest/*
assets/js/bundles/

# IDE
.idea

.tool-versions
.bundle/

geckodriver.log
chromedriver.log
yarn-error.log
tests_output/