title: SimpleReport
url: https://simplereport.gov
dap_agency: HHS
dap_subagency: CDC
okta_url: https://hhs-prime.okta.com/oauth2/default/v1/authorize?client_id=0oa5ahrdfSpxmNZO74h6&redirect_uri=https://simplereport.gov/app&response_type=token+id_token&scope=openid%20simple_report%20simple_report_prod&nonce=thisisnotsafe&state=thisisbogus
permalink: pretty

collections:
  pages:
    output: true
    permalink: /:path/

plugins:
  - jekyll-sitemap
  - jekyll-last-modified-at
  - jekyll-redirect-from

exclude:
  - .jekyll-cache/
  - .sass-cache/
  - adr/
  - assets/js/src
  - config.json
  - Gemfile*
  - gemfiles/
  - gulpfile.js
  - node_modules
  - node_modules/
  - package-lock.json
  - package.json
  - package*.json
  - README.md
  - scripts/
  - vendor/
  - webpack.config.js
  - artifact/
  - artifact.zip
  - lighthouse
  - release-notes.txt
  - spec/
  - assets/js/uswds.js
  - webpack/
  - e2e/
  - tests_output/
  - geckodriver.log
