/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

/*
----------------------------------------
Variables
----------------------------------------
*/

$image-path: '../../../assets/img/';

/*
----------------------------------------
Typography
----------------------------------------
*/
$font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$font-sans: Inter, $font-system;
$font-mono: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;

.usa-prose {
  a {
    @include typeset-link;
  }
}

.usa-intro {
  font-weight: $theme-font-weight-light;
}

.usa-logo__text {
  font-size: 40px;
}

.usa-header-container,
.usa-hero {
  background-color: #162e51;
}

.usa-header + .usa-hero {
  border-top: none;
  padding-top: 0;
}

.usa-header--extended .usa-nav {
  border-top: none;
}

.usa-nav {
  margin-bottom: -2em;
}

.usa-navbar {
  padding-top: 5em;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-bottom: none !important;
}

.usa-nav__secondary {
  margin-bottom: 5em;
  bottom: 2rem;
}

.usa-hero {
  @include at-media("desktop") {
    margin-top: -3em;
    margin-bottom: -16em;
    padding-bottom: 16em;
  }
}


.usa-hero__callout {
  background-color: none;
  max-width: none;
  padding: 0;

  h2 {
    font-family: $font-sans;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 151.28%;
    color: #ffffff;
  }
}

.usa-button.wide-button {
  width: 217px;
  font-weight: normal;
  margin-right: 0;
}

.usa-hero-placeholder-container {
  margin-bottom: -19em;
  display: none;
  @include at-media("tablet-lg") {
    display: block;
  }
}

.usa-hero-placeholder {
  max-width: 540px;
  width: 100%;
  height: auto;
  z-index: 10;
}

.usa-hero-vector {
  width: 100%;
}

.usa-hero-vector + .usa-section-list {
  margin-top: -5em;
  padding-top: 0;
}

.usa-section {

  img {
    margin-bottom: 24px;
  }

  .usa-bullets {
    p {
      margin: 0 auto 56px auto;
      font-size: 16px;
      line-height: 150%;
      @include at-media("tablet") {
        margin-bottom: 0;
        font-size: 14px;
      }
    }
  }

  strong {
    font-family: $font-system;
    font-weight: 600;
    color: #1B1B1B; // base-darkest
  }

}

.usa-section-list {
  background: white;

  .section-title-line {
    border-bottom: 1px solid #73b3e7;
    border-top: 1px solid #73b3e7;
    height: 94px;
    margin-right: -40px;
    width: 40px;

    + h2 {
      margin-top: 29px;
    }
  }

  .section-title + .section-columns {
    margin-top: 5em;
    margin-bottom: 1em;
  }

  h2 {
    font-family: $font-sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 151.28%;
    color: #162e51;
  }

  h4, h3 {
    font-family: $font-mono;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #1b1b1b;
  }

  .usa-prose {
    font-family: $font-sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 151.28%;
    color: #162e51;
  }

  .prose-f4 {
    font-family: $font-sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #3d4551;
  }

  .number-header {
    font-family: $font-sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 151.28%;
    color: #1b1b1b;
    padding-bottom: 1em;
    padding-top: 2em;
  }

  .usa-list {
    font-family: $font-sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #1b1b1b;
    padding-left: 1em;
    padding-top: 1em;

    li {
      padding-left: 5px;
    }
  }

  .grid-row.grid-gap {
    padding-bottom: 7em;
  }
}

.grid-gap-small-btm {
  padding-bottom: 2rem !important;
}

.cta-btn {
  color: #ffffff !important;
  text-decoration: none !important;
}

.grid-row {
  @include at-media("mobile-lg") {
    padding: 0 5em;
  }
}

.centered-image {
  display: block;
  margin: auto;
}

.usa-bullets {
  font-family: $font-sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #3d4551;
}

.usa-prose .usa-bullets {
  width: 100%;
  @include at-media("tablet") {
    max-width: 480px;
  }
}

.blue-section {
  background: #162e51;
  color: white;
  /*margin: 0 -10em;*/

  h2 {
    color: white;
    width: 217px;
  }

  .section-title-line {
    height: 128px;
  }

  h4, h3 {
    color: #ffbc78;
  }

  .usa-prose {
    font-family: $font-sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }

  .usa-list {
    color: white;
    font-size: 14px;
    padding-left: 1em;
    padding-top: 1em;

    li {
      padding-left: 5px;
    }
  }
}

.divider-line {
  border-bottom: 1px solid #73b3e7;
  margin-top: 3em;
  width: 800px;
}

.usa-footer {
  .usa-footer__return-to-top {
    a {
      margin-left: 80px;
    }
  }
  .usa-footer__primary-section {
    display: none;
  }
  .usa-footer__secondary-section {
    margin-top: 40px;
    background-color: #D9E8F6; // $theme-color-primary-lighter
    h3.usa-footer__logo-heading {
      font-family: $font-sans;
      font-weight: 400;
      font-size: 16px;
    }
  }
}

.text-align-right {
  text-align: right;
}
