/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

/*
----------------------------------------
Variables
----------------------------------------
*/

$image-path: '/assets/img/';

/*
----------------------------------------
Typography
----------------------------------------
*/

.usa-prose {
  a {
    @include typeset-link;
  }

  h1, h2, h3 {
    font-weight: $theme-font-weight-medium;
  }
}

.usa-intro {
  font-weight: $theme-font-weight-light;
}

.usa-logo__text {
  font-size: 40px;
}

.usa-logo {
  margin-left: 0;
}

.usa-header-container,
.usa-hero {
  background-color: #162e51;
}

.usa-header + .usa-hero {
  border-top: none;
  padding-top: 0;
}

.usa-header--extended .usa-nav {
  border-top: none;
}

.usa-nav {
  margin-bottom: -2em;
}

.usa-navbar {
  padding-top: 5em;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-bottom: none !important;
}

.usa-nav__secondary {
  margin-bottom: 9em;
  bottom: 2rem;
}

.usa-hero {
  padding-top: 40px;
  background-image: none;
  padding-bottom: 3rem;
  @include at-media('desktop') {
    padding-bottom: 2rem;
  }
}

.usa-hero__callout {
  background-color: none;
  max-width: none;
  padding: 0;

  h1,
  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    color: #97d4ea;
    max-width: 400px;
    padding: 0;
    margin: 0;

    // @include at-media('desktop') {
    //   padding-bottom: 40px;
    // }
    // width: 90%;
    // margin-top: 5px;
  }
  h1 {
    color: #97d4e9;
    margin-top: 3em;
    margin-bottom: 1em;
  }

  @include at-media('desktop') {
    margin-top: 0;
  }

  h2 {
    @include at-media('tablet') {
      margin-left: 2em;
    }
  }
}

.usa-button.wide-button {
  width: 150px;
  font-weight: normal;
  margin-right: 0;
  margin-bottom: 0.5em;
  @include at-media('desktop') {
    width: 218px;
  }
}

.usa-navbar {
  @include at-media(mobile) {
    padding-top: 0;
    #header-logo {
      margin-top: 160px;
    }
  }
}

.usa-hero-placeholder-container {
  @include at-media('desktop') {
  }
  @include at-media('tablet') {
    display: block;
    // margin-top: -10em;
  }
  .hero-img-col {
    /*display: none;*/
    @include at-media('tablet-lg') {
      display: block;
      // margin-top: -10em;
    }
  }
}

.usa-hero-placeholder {
  max-width: 540px;
  width: 100%;
  height: auto;
  z-index: 10;
  // margin-top: 12em;
  // margin-left: 1em;
  // margin-top: 1em;
  /*margin: 0 0 1em 1em;*/
  padding-top: 2em;
  @include at-media('tablet') {
    margin: 1em 0 1em 1em;
    padding-top: 1em;
  }
}

.container-blue {
  background: #e1f3f8;
  @include at-media('desktop') {
    padding-bottom: 160px;
    background: #e1f3f8 url('/assets/img/waves.svg') top center no-repeat;
    /*uncomment for githubpages*/
    /*background-image: url('/assets/img/waves.svg'), url('/prime-simplereport-site/assets/img/waves.svg');*/
    max-height: 390px;
  }
}

.usa-hero-subsection {

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #1b1b1b;
  padding-top: 1em;
  // border: 1px solid #f00;
  padding-bottom: 1rem;
  @include at-media('tablet') {
    padding-bottom: 0;
  }
  @include at-media('desktop') {
    padding-top: 7em;
    // padding-bottom: 15em;
    // max-height: 180px;
  }
  p {
    max-width: 380px;
    color: #162e51;
  }
  @include at-media('desktop') {
    & > p {
      padding-top: 1em;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      &:before {
        content: '✓';
        display: inline-block;
        width: 16px;

      }

      font-weight: 400;
    }
  }
}

//
// .usa-hero-wave-top {
//   margin-top: -13em;
//   width: 100%;
//   display: none;
//   background-color: #162e51;
//   @include at-media('tablet'){
//     display: inline-block;
//   }
// }
//
// .usa-hero-wave-bottom {
//   margin-top: -9em;
//   width: 100%;
//   display: none;
//   @include at-media('tablet'){
//     display: inline-block;
//   }
// }
//
// .under-wave {
//   background: #e1f3f8;
//   height: 15em;
//   width: 100%;
//   margin-top: -15em;
//   @include at-media('tablet'){
//     margin-top: -1em;
//     height: 10em;
//   }
//   @include at-media('desktop'){
//     height: 7em;
//   }
// }
//
// .under-wave + .usa-section-list {
//   margin-top: -5em;
//   padding-top: 0;
// }

.page-home {
  .grid-container,
  .usa-banner__inner,
  .usa-banner__content {
    max-width: 800px;
  }

  .usa-section {
    .usa-bullets {
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        @include at-media('tablet') {
          margin-bottom: 0;
          font-size: 14px;
        }
        strong {
          font-weight: 600;
        }
      }
    }

    .usa-list {
      li {

        font-weight: 400;
      }
    }

    &.blue-section {
      ul {
        padding-bottom: 40px;
      }
    }

    .illustration-image {
      max-width: 600px;
    }
  }
}


.usa-section-list {
  background: white;

  .section-title-line {
    border-bottom: 1px solid #73b3e7;
    border-top: 1px solid #73b3e7;
    height: 94px;
    margin-right: -40px;
    width: 40px;

    + h2 {
      margin-top: 29px;
    }
  }

  .section-title-line.taller-section-title-line {
    height: 105px;

    + .huge-header {
      margin-top: 27px;
    }
  }

  .section-title + .section-columns {
    margin-top: 2em;
    /*margin-bottom: 1em;*/
  }

  h2 {

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 151.28%;
    color: #162e51;
  }

  h3 {

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #1b1b1b;
    margin-bottom: 2em;
  }
  h4 {

    font-weight: 700;
    font-size: 14px;
  }

  .usa-prose {

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 151.28%;
    color: #162e51;
  }

  .prose-f4 {

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 151.28%;
    color: #3d4551;
  }

  .number-header {

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 151.28%;
    color: #1b1b1b;
    padding-bottom: 1em;
    padding-top: 2em;
  }

  .usa-list {

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #1b1b1b;
    padding-left: 1em;
    padding-top: 1em;

    li {
      padding-left: 5px;
    }
  }
}

.grid-gap-small-btm {
  padding-bottom: 2rem !important;
}

.cta-btn {
  color: #ffffff !important;
  text-decoration: none !important;
}

.page-docs {
  .grid-row {
    @include at-media('tablet') {
      padding: 0;
    }
  }

  .usa-layout-docs__main {
    h1,
    h2,
    h3 {
      color: color('primary-darker');
    }

    .usa-button {
      color: color('white');
      text-decoration: none;
    }
  }

  .usa-layout-docs__main {
    img {
      border: units(1px) solid color('base-lightest');
      display: block;
      margin-bottom: units(2) !important;;
      margin-top: units(2) !important;;
    }

    > ol {
      @extend .usa-process-list;

      > li {
        @extend .usa-process-list__item;

        > ul, > ol {
          &:first-child {
            margin-top: units(.5);
          }
        }
      }

      .list--alpha {
        list-style-type: lower-alpha !important;
      }
    }

    li {
      br {
        content: "";
        display: block;
        margin-top: units(2) !important;
      }
    }
  }
}

.tag--success {
  background-color: color('green-cool-50v');
}

.page-docs-img-sm {
  .usa-layout-docs__main {
    img {
      max-width: units('card-lg');
    }
  }
}

.margin-left-neg-5 {
  margin-left: units(-5);
}

.usa-bullets {

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #3d4551;
}

.usa-prose .usa-bullets {
  width: 100%;
  @include at-media('tablet') {
    max-width: 480px;
  }
}

.blue-section {
  color: white;
  margin-bottom: -5em;
  @include at-media('tablet') {
    margin-bottom: -9em;
  }
  @include at-media('tablet-lg') {
    margin-bottom: -10em;
  }
  @media screen and (min-width: 1300px) {
    margin-bottom: -12em;
  }

  /*margin: 0 -10em;*/

  h2 {
    color: white;
    width: 217px;
  }

  .section-title-line {
    height: 128px;
  }

  h4,
  h3 {
    color: #ffbc78;
  }

  .usa-prose {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }

  .usa-list {
    color: white;
    font-size: 14px;
    padding-left: 1em;
    padding-top: 1em;

    li {
      padding-left: 5px;
    }
  }

  .medium-header {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #3d4551;
  }

  .prose {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #3d4551;
  }
}

.divider-line {
  border-bottom: 1px solid #73b3e7;
  margin-top: 3em;
  width: 800px;
}

.usa-footer {
  .usa-footer__secondary-section {
    margin-top: 40px;
    background-color: #162e51;
    color: white;
    padding-bottom: 5em;

    .usa-footer__logo {
      margin-bottom: 3em;
    }

    .usa-footer__logo-img {
      max-width: 74px;
    }

    h3.usa-footer__logo-heading {

      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 151.28%;
    }

    a {
      color: color('base-lighter');

      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;

      &:hover {
        color: color('white');
      }
    }
  }
  .tos-right {
    @include at-media('tablet') {
      text-align: right;
    }
  }
}

.text-align-right {
  text-align: right;
}

#header-logo {
  margin-top: 3em;
}

.large-button {
  padding: 12px 20px;
  width: 298px;
  height: 48px;
  background: #005ea2;
  border-radius: 4px;
  color: white !important;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.mobile-display {
  display: block;
  @include at-media('tablet') {
    display: none !important;
  }
}

.tablet-display {
  display: none;
  @include at-media('tablet') {
    display: block;
  }
}

.no-underline {
  text-decoration: none !important;
}

.home-link {
  color: color($theme-link-color);

  &:hover {
    color: color($theme-link-hover-color);
  }

  svg {
    height: 1em;
    margin-bottom: -2px;
    margin-right: 0.5rem;
  }
}

.float-right {
  float: right;
}

.request-account-link {
  color: white;
  display: block;
  text-align: center;
}

.huge-header {

  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  color: #162e51;
}

.medium-header {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  color: #162e51;

  + .prose {
    padding-top: 16px;
  }
}

.small-header {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 151.28%;
  color: #000000;

  + .small-prose {
    padding-top: 16px;
  }
}

.prose {

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #3d4551;
}

.small-prose {

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #1b1b1b;
}

.gap-row {
  height: 217px;
}

.gap-row-2 {
  height: 200px;
}

.gap-row-3 {
  height: 122px;
}

.gap-row-4 {
  height: 82px;
}

.brown-bubble {
  position: absolute;
  top: -160px;
  left: -30px;

  @include at-media('tablet-lg') {
    top: -175px;
    left: 8px;
  }
}

.animation-1 {
  position: relative;

  @include at-media('tablet-lg') {
    top: -40px;
  }
}

.blue-bubble {
  position: absolute;
  top: -120px;

  @include at-media('tablet-lg') {
    top: 10px;
    left: 65px;
  }
}

.animation-2 {
  position: relative;
  top: -75px;

  @include at-media('tablet-lg') {
    top: -17px;
    left: -50px;
  }
}

.mid-wave-top,
.mid-wave-bottom {
  width: 100%;
}

.mid-wave-top {
  position: relative;
  top: units(0.5);
}

.cdc-logo-large {
  margin-left: 1em;
  margin-top: 0.5em;
}

.shield {
  margin-left: 3em;
}

.margin-top-8 {
  margin-top: 8em;
}

.margin-top-40 {
  margin-top: 40px;
}

.padding-left-0 {
  padding-left: 0em;
}

.padding-top-32 {
  padding-top: 32px;
}

.padding-bottom-0 {
  padding-bottom: 0px;
}

.padding-bottom-48 {
  padding-bottom: 48px;
}

.sign-up-box {
  border: 1px solid #dcdee0;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 22px;
  height: 396px;
  width: 325px;

  + .sign-up-box {
    margin-top: 2em;
    @media screen and (min-width: 921px) {
      margin-right: 3em;
    }
    @media screen and (min-width: 962px) {
      margin-top: 0em;
      margin-left: 40px;
      margin-right: 0em;
    }
  }
}

.large-button.width-100 {
  position: absolute;
  bottom: 20px;
  width: 86%;
}

.tablet-lg-hide {
  display: none;
  @include at-media('tablet-lg') {
    display: block;
  }
}

.tablet-lg-show {
  display: block;
  @include at-media('tablet-lg') {
    display: none;
  }
}

.mobile-margin-top-2 {
  margin-top: 2em;
  @include at-media('tablet') {
    margin-top: 0em;
  }
}

.page-form {
  background-color: color('gray-2');

  .page-container {
    border-top: 1px solid color('base-lighter');
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-container {
    align-self: center;
  }
}

.usa-legend--large {
  color: color(primary-darker);
  font-weight: 500;
}

.margin-top-card {
  margin-top: units('card');
}
