/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

/*
----------------------------------------
Variables
----------------------------------------
*/

$image-path: '../../../assets/img/';

/*
----------------------------------------
Typography
----------------------------------------
*/

.usa-prose {
  a {
    @include typeset-link;
  }
}

.usa-intro {
  font-weight: $theme-font-weight-light;
}

.usa-logo__text {
  font-size: 40px;
}

.usa-header,
.usa-hero {
  background-color: #f0f0f0;
}

.usa-header + .usa-hero {
  border-top: none;
  padding-top: 0;
}

.usa-header--extended .usa-nav {
  border-top: none;
}

.usa-nav__secondary {
  margin-bottom: -0.5rem;
}

.usa-hero__callout {
  background-color: none;
  color: black;
  max-width: 34rem;
  padding: 0 0 2em 0;

  p {
    font-size: 22px;
    margin: 0;
  }
}

.usa-button.wide-button {
  width: 217px;
}

.usa-hero__placeholder {
  background: #f0f0f0;
  border: 1px solid #a9aeb1;
  border-radius: 6px;
  box-sizing: border-box;
  margin: 0 4em -10rem -4em;
  height: 349px;
  width: 524px;
}

.usa-hero + .usa-section {
  padding-top: 12rem;
}

.usa-section-list {
  h3 {
    font-family: Public Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #1b1b1b;
  }

  h5 {
    font-family: Public Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #1b1b1b;
  }

  p {
    font-family: Public Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 162%;
    color: #000000;
  }

  .grid-row.grid-gap {
    padding-bottom: 7em;
  }
}

.grid-gap-small-btm {
  padding-bottom: 2rem !important;
}

.cta-btn {
  color: #ffffff !important;
  text-decoration: none !important;
}
