---
title: Correct a previous test result
description:
layout: page
class: page-docs
sidenav: resources
home_link: true
return_top: 'false'
---

If something goes wrong with a test result, you can correct it in SimpleReport. The previous result will still be visible, but marked as an error and submitted to the public health department.

To correct a previous test result:
1. Click **Results** at the top of the page.
2. A table of results from your testing facility will appear showing all results from the past 48 hours. To show older results, you can always click the blue **See all results** button at the bottom of the page.
3. Find the result in the table, and go all the way to the right of the page. Under the “Actions” column, click the three dots in the same row as the result that you want to correct.
4. Click **Mark as error**.
5. A box will appear and ask you why you want to mark the result as an error. Enter a reason, then click **Yes, I’m sure**. (Your reason needs to be at least 4 characters long before you can proceed.)
   - The result will be marked as an error, and will appear with a strike through it when you review it in the future.

To submit a corrected result, follow the instructions to [conduct and submit a test]({% link _pages/resources/using-simplereport/conduct-and-submit-tests.md %}), and be sure to update the date and time of the test to reflect when the test originally occurred.