---
title: Print someone’s test results
description:
layout: page
class: page-docs
sidenav: resources
return_top: 'false'
---

If you need a paper copy of a test result, you can generate it in SimpleReport.

To print someone’s test results:
1. Click **Results** at the top of the page.
2. A table of results from your testing facility will appear showing all results from the past 48 hours. To show older results, you can always click the blue **See all results** button at the bottom of the page.
3. Find the result that you want to print, and go all the way to the right of the page. Under the “Actions” column, click the three dots in the same row as the result that you want to print.
4. Click **Print result**.
5. A preview of the test result will appear. Click the blue **Print** button in the top right corner and follow the instructions to print the file.
6. Click **Close** to exit the preview and return to the “Results” page.
