{% include components/banner.html %}

{% if hero %}
<section class="usa-hero" aria-label="Introduction";>

<!-- <section class="usa-hero"{% if hero.image %} style="background-image: url({{site.baseurl}}{{ hero.image }})"{% endif %} aria-label="Introduction";> -->
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col usa-hero__callout">
        <!-- {% if hero.callout %}
        <h1 class="usa-hero__heading">
          {% if hero.callout.alt %}
          <span class="usa-hero__heading--alt">{{ hero.callout.alt }}</span>
          {% endif %}
          {{ hero.callout.text | default: hero.callout }}
        </h1>
        {% endif %} -->
        <nav class="mobile-lg:float-right">
          <ul class="usa-list--unstyled display-flex flex-column mobile-lg:flex-row flex-align-center">
            <li>
              <a class="text-base-lighter
               hover:text-white" href='{% link _pages/resources/index.md %}'>
                Get resources
              </a>
            </li>
            <li class="mobile-lg:margin-left-2">
              <a class="text-base-lighter
              hover:text-white" href="{% link pages/sign-up.md %}">
                Request an account
              </a>
            </li>
            <li class="width-full mobile-lg:width-auto margin-top-1 mobile-lg:margin-top-0 mobile-lg:margin-left-2">
              <a href="{{ site.okta_url | xml_escape }}"
              class="usa-button usa-button--accent-cool text-no-underline text-ink text-normal padding-x-6">
              Log in
            </a>
            </li>
          </ul>
        </nav>
        <h1 class="margin-top-3 mobile-lg:margin-top-10">
          <img src="{{ '/assets/img/SimpleReportLogo.svg' | relative_url }}" alt="SimpleReport logo">
        </h1>
        <h2>
        {{ hero.content }}
        </h2>

        {% if hero.button %}
        <a class="usa-button"
          href="{{ hero.button.href | relative_url }}">
          {{ hero.button.text }}
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% if hero.placeholder %}
<section class="container-blue">

  <div class="grid-container usa-hero-placeholder-container">
    <div class="grid-row">
      <div class="tablet:grid-col hero-img-col mobile-display">
        <img class="usa-hero-placeholder"
          src="{% if hero.placeholder.external %}{{ hero.placeholder.src }}{% else %}{{ hero.placeholder.src | relative_url }}{% endif %}"
          alt="{{ hero.placeholder.alt }}">
      </div>
      <div class="tablet:grid-col usa-hero-subsection">
        <p>SimpleReport is a free tool that makes it easy for COVID-19 testing sites to record results. It works with any rapid point-of-care test so you can quickly report data to public health departments.</p>
        <ul>
          <li>
            Developed in partnership with the CDC
          </li>
          <li>
            100% Free
          </li>
          <li>
            Maintains HIPAA standards
          </li>
      </div>
      <div class="tablet:grid-col hero-img-col tablet-display">
        <img class="usa-hero-placeholder"
          src="{% if hero.placeholder.external %}{{ hero.placeholder.src }}{% else %}{{ hero.placeholder.src | relative_url }}{% endif %}"
          alt="{{ hero.placeholder.alt }}">
      </div>
    </div>
  </div>

</section>


{% endif %}

<!-- {% if hero.vector %}
<img class="usa-hero-wave-top"
  src="{{ '/assets/img/wave-top.svg' | relative_url }}"
  alt="">
<img class="usa-hero-wave-bottom" src="{{ '/assets/img/wave-bottom.svg' | relative_url }}" alt="">
<div class="under-wave"></div>
{% endif %} -->
{% endif %}
