{% if hero %}
<section class="usa-hero"{% if hero.image %} style="background-image: url({{site.baseurl}}{{ hero.image }})"{% endif %} aria-label="Introduction";>
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col usa-hero__callout">
        <!-- {% if hero.callout %}
        <h1 class="usa-hero__heading">
          {% if hero.callout.alt %}
          <span class="usa-hero__heading--alt">{{ hero.callout.alt }}</span>
          {% endif %}
          {{ hero.callout.text | default: hero.callout }}
        </h1>
        {% endif %} -->
        <h1>SimpleReport</h1>
        <h2>
        {{ hero.content }}
        </h2>

        {% if hero.button %}
        <a class="usa-button"
          href="{{ hero.button.href | relative_url }}">
          {{ hero.button.text }}
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% if hero.placeholder %}
<div class="grid-container usa-hero-placeholder-container">
  <div class="grid-row">
    <div class="grid-col usa-hero-subsection">
      <p>SimpleReport is a free tool that makes it easy for COVID-19 testing sites to record results for rapid point-of-care tests and quickly report required data to public health departments.</p>
      <ul>
        <li>
          HIPAA-compliant
        </li>
        <li>
          Developed in partnership with the CDC
        </li>
    </div>
    <div class="grid-col hero-img-col">
      <img class="usa-hero-placeholder"
        src="{% if hero.placeholder.external %}{{ hero.placeholder.src }}{% else %}{{ hero.placeholder.src | relative_url }}{% endif %}"
        alt="{{ hero.placeholder.alt }}">
    </div>
  </div>
</div>
{% endif %}
{% if hero.vector %}
<img class="usa-hero-wave-top"
  src="{{ '/assets/img/wave-top.svg' | relative_url }}"
  alt="">
<img class="usa-hero-wave-bottom" src="{{ '/assets/img/wave-bottom.svg' | relative_url }}" alt="">
<div class="under-wave"></div>
{% endif %}
{% endif %}
