{% if hero %}
{% include header.html %}
<section class="usa-hero padding-top-2" aria-label="Introduction">

  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col usa-hero__callout">
        <h1 class="margin-top-3 mobile-lg:margin-top-1">
          <img src="{{ '/assets/img/SimpleReportLogo.svg' | relative_url }}" alt="SimpleReport">
        </h1>
        <span>
          {{ hero.content }}
        </span>

        {% if hero.button %}
        <a class="usa-button usa-button--accent-cool tablet:margin-left-8 margin-top-2"
          href="/app/sign-up">
          {{ hero.button.text }}
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% if hero.placeholder %}
<section class="container-blue">

  <div class="grid-container usa-hero-placeholder-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col hero-img-col mobile-display">
        <img class="usa-hero-placeholder"
          src="{% if hero.placeholder.external %}{{ hero.placeholder.src }}{% else %}{{ hero.placeholder.src | relative_url }}{% endif %}"
          alt="{{ hero.placeholder.alt }}">
      </div>
      <div class="tablet:grid-col usa-hero-subsection usa-prose flex-align-self-center">
        <p>SimpleReport is a fast, free, and easy way for COVID-19 testing facilities to report results to public health departments.</p>
        <ul class="margin-left-1">
          <li>
            Easy to set up and use
          </li>
          <li>
            100% free
          </li>
          <li>
            Works with any rapid point-of-care test
          </li>
          <li>
            Maintains HIPAA standards
          </li>
        </ul>
      </div>
      <div class="tablet:grid-col hero-img-col tablet-display">
        <img class="usa-hero-placeholder"
          src="{% if hero.placeholder.external %}{{ hero.placeholder.src }}{% else %}{{ hero.placeholder.src | relative_url }}{% endif %}"
          alt="{{ hero.placeholder.alt }}">
      </div>
    </div>
  </div>

</section>

{% endif %}
{% endif %}
