<form
  accept-charset="UTF-8"
  action="https://search.usa.gov/search"
  id="search_form"
  method="get"
  class="usa-search js-search-form
    {% if page.search == "big" %}
      usa-search--big maxw-mobile-lg
    {% else %}
      usa-search--small mobile-lg:grid-col mobile-lg:width-tablet
    {% endif %}"
>
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input
    id="affiliate"
    name="affiliate"
    type="hidden"
    value="{{ site.search_site_handle }}"
  />
  <div role="search">
    <label for="query" class="usa-sr-only">Enter Search Term(s):</label>
    <input
      autocomplete="off"
      class="usa-input usagov-search-autocomplete"
      id="query"
      name="query"
      type="search"
    />
    <button class="usa-button" type="submit" name="commit">
      <span class="
        {% if page.search == "big" %}
          usa-search__submit-text
        {% else %}
          usa-sr-only
        {% endif %}"
      >
        Search
      </span>
      <img src="/assets/uswds/img/usa-icons-bg/search--white.svg" class="usa-search__submit-icon" alt="Search">
    </button>
  </div>
</form>
