{% assign sections = include.sections %}
{% if sections %}
<section class="usa-section-list usa-section">
    <div class="grid-container">
        {% for section in sections %}
        <div class="grid-row section-title">
            <div class="section-title-line"></div>
            <h2>{{section.title}}</h2>
        </div>
        <div class="grid-row grid-gap grid-gap-small-btm section-columns">
            {% for column in section.columns %}
            <div class="grid-col">
                <h4>{{column.heading}}</h4>
                {% if column.intro_p %}
                  <div class='usa-prose'>
                    {{column.intro_p | markdownify}}
                  </div>
                {% endif %}
                {% if column.sub_heading %}
                  <h4>{{column.sub_heading}}</h4>
                {% endif %}
                {% if column. bullets %}
                  <ul>
                  {% for bullet in column.bullets %}
                    <li>{{bullet}}</li>
                  {% endfor %}
                  </ul>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}