---
title: Sign up
description: Get access for your organization after completing just 2 steps.
permalink: /sign-up/
layout: default
return_top: "false"
home_link: true
class: page-form
---

<div
  class="maxw-mobile-lg margin-x-1 mobile-lg:margin-x-0 margin-top-4 tablet:margin-top-8"
>
  {% include home-link.html %}
  <div class="usa-prose">
    <h1 class="font-heading-2xl text-primary-darker">{{ page.title }}</h1>
    <p class="usa-intro">{{ page.description }}</p>
    <p>
      <a
        class="margin-top-205 line-height-sans-1"
        href="{% link _pages/getting-started/organizations-and-testing-facilities/onboard-your-organization.md %}"
      >
        Learn more about the onboarding process</a
      >.
    </p>
    <div>
      <div
        class="step-line position-absolute height-5 width-05 bg-base-light"
      ></div>
      <ul class="usa-icon-list margin-top-205">
        <li class="usa-icon-list__item">
          <div
            class="usa-icon-list__icon bg-primary circle-3 display-flex flex-justify-center flex-align-center"
          >
            <span class="text-white text-bold text-tabular font-ui-2xs">
              1
            </span>
          </div>
          <div class="usa-icon-list__content text-primary text-bold">
            Submit sign up form
          </div>
        </li>
        <li class="usa-icon-list__item">
          <div
            class="usa-icon-list__icon border-05 border-base-light circle-3 display-flex flex-justify-center flex-align-center"
          >
            <span class="text-tabular text-bold text-base-dark font-ui-2xs">
              2
            </span>
          </div>
          <div class="usa-icon-list__content">
            Verify your identity
          </div>
        </li>
      </ul>
    </div>
    <p class="margin-top-4">
      Required fields are marked with an asterisk ({% include required.html %}).
    </p>
  </div>
</div>

<div
  class="form-container maxw-mobile-lg margin-x-1 mobile-lg:margin-x-0 margin-bottom-4 tablet:margin-bottom-8"
>
  <form
    class="usa-form usa-form--large"
    id="account-request-form"
    name="account-request"
  >
    <div
      class="card border-2px border-base-lighter bg-white radius-lg margin-top-2 padding-4"
    >
      {% include forms/facility-administrator.html %}
    </div>
    <div
      class="card border-2px border-base-lighter bg-white radius-lg padding-4 margin-top-4"
    >
      {% include forms/testing-facility-information.html %}
    </div>
    <div
      class="card border-2px border-base-lighter bg-white radius-lg padding-4 margin-top-4"
    >
      {% include forms/testing-workflow.html %}
    </div>
    <div
      class="card border-2px border-base-lighter bg-white radius-lg padding-4 margin-top-4"
    >
      {% include forms/ordering-provider.html %}
    </div>
    <p class="margin-bottom-0">
      By submitting this form, you agree to our
      <a href="{% link pages/tos.md %}">Terms of Service</a>.
    </p>
    <div
      id="alert-api-error"
      class="usa-alert usa-alert--error display-none"
      role="alert"
    >
      <div class="usa-alert__body">
        <h3 class="usa-alert__heading">Error</h3>
        <p class="usa-alert__text">Failed to submit. Please try again.</p>
      </div>
    </div>
    {% if site.e2e %}
    <div class="usa-checkbox display-none">
      <input
        class="usa-checkbox__input"
        id="test-submission"
        type="checkbox"
        name="test-submission"
        value="test-submission"
      />
      <label class="usa-checkbox__label" for="test-submission"
        >Submitting test data</label
      >
    </div>
    {% endif %}
    <button
      id="form-submit-button"
      type="button"
      class="usa-button usa-button--big"
      value="submit"
      name="submit"
    >
      Submit
    </button>
  </form>
</div>

<script>
  (function formLogic() {
    // Define all fields on the form here
    const stringFields = [
      "first-name",
      "last-name",
      "email",
      "work-phone-number",
      "cell-phone-number",
      "street-address1",
      "street-address2",
      "city",
      "state",
      "zip",
      "county",
      "facility-phone-number",
      "facility-type-other",
      "organization-name",
      "facility-name",
      "clia-number",
      "testing-device-other",
      "browsers-other",
      "workflow",
      "op-first-name",
      "op-last-name",
      "npi",
      "op-phone-number",
      "op-street-address1",
      "op-street-address2",
      "op-city",
      "op-state",
      "op-zip",
      "op-county",
    ];

    // This array should be ordered by the way that these appear on the form;
    // this way the .scrollIntoView works as-expected
    const fieldGroups = [
      {
        id: "facility-type",
        type: "radio"
      },
      {
        id: "testing-devices",
        type: "checkbox"
      },
      {
        id: "default-testing-device",
        type: "radio"
      },
      {
        id: "access-devices",
        type: "checkbox"
      },
      {
        id: "browsers",
        type: "checkbox"
      },
      {
        id: "records-test-results",
        type: "radio"
      },
      {
        id: "process-time",
        type: "radio"
      },
      {
        id: "submitting-results-time",
        type: "radio"
      },
    ];

    const radioFields = fieldGroups.filter(e => e.type === 'radio').map(e => e.id);
    const checkboxFields = fieldGroups.filter(e => e.type === 'checkbox').map(e => e.id);

    // If a non-required checkbox or radio group is added, this will need to change
    const requiredElementGroups = fieldGroups.map(e => e.id);

    // Get the button & form elements
    const button = document.getElementById("form-submit-button");
    const form = document.getElementById("account-request-form");

    let firstErrorSeen;

    // Has submit ever been pressed?
    let submitted = false;

    /**
     * The text inputs are handled with native HTML validation.
     * The radios and checkboxes are all required and need manual validation here
     */
    function groupsAreValid(data) {
      let valid = true;
      firstErrorSeen = undefined;
      requiredElementGroups.forEach((field) => {
        const errorSpan = document.getElementById(`${field}-error-message`);
        if (!data[field]) {
          valid = false;
          errorSpan.className = "usa-error-message";
          if(!firstErrorSeen) {
            firstErrorSeen = errorSpan;
          }
        } else {
          errorSpan.className = "usa-error-message display-none";
        }
      });

      return valid;
    }

    /**
     * Translate the form data from element values into JSON
     */
    function aggregateFormData() {
      const data = {};
      stringFields.forEach(
        (field) =>
          (data[field] = document.getElementsByName(field).item(0).value)
      );
      radioFields.forEach((field) => {
        const radioElements = Array.from(document.getElementsByName(field))
          .filter((e) => e.checked)
          .map((e) => e.nextElementSibling.textContent);
        data[field] = radioElements.length ? radioElements[0] : null;
      });

      checkboxFields.forEach(
        (field) =>
          (data[field] = Array.from(document.getElementsByName(field))
            .filter((e) => e.checked)
            .map((e) => e.nextElementSibling.textContent)
            .join(", "))
      );
      return data;
    }

    /**
     * Set up onChange handlers to clear validation styling on required groups
     * after initial validation
     */
    requiredElementGroups.forEach((field) => {
      Array.from(document.getElementsByName(field)).forEach(
        (element) =>
          (element.onchange = () => {
            submitted && groupsAreValid(aggregateFormData());
          })
      );
    });

    /**
     * Add default-adding behavior onto the device radio group
     */
     const defaultDeviceRadios = Array.from(document.getElementsByName("default-testing-device"));
     defaultDeviceRadios.forEach(element => {
        const existingChangeFn = element.onchange;
        element.onchange = () => {
         const selectedDefaultDeviceIdArray = defaultDeviceRadios
           .filter((e) => e.checked)
           .map((e) => e.value);
          const selectedDefaultDeviceId = selectedDefaultDeviceIdArray && selectedDefaultDeviceIdArray.length ? selectedDefaultDeviceIdArray[0] : false;
          if(selectedDefaultDeviceId) {
            document.getElementById(selectedDefaultDeviceId).checked = true;
          }
          existingChangeFn();
        }
     });

    /**
     * Make Ordering Provider's name, NPI & phone required - but not in ND
     */
    const facilityState = document.getElementsByName('state').item(0);
    const requiredHtml = '{% include required.html %}';
    const opRequiredFields = {
      'op-first-name': 'First name',
      'op-last-name': 'Last name',
      'op-phone-number': 'Phone number',
      'npi': 'National Provider Identifier (NPI)'
    }
    function setOrderingProviderIsRequired() {
      Object.keys(opRequiredFields).forEach(field => {
        const input = document.getElementsByName(field).item(0);
        const label = document.querySelector(`label[for=${field}]`);
        const stateVal = state.value.toLowerCase();
        if(stateVal.includes('nd') || stateVal.includes('north dakota')) {
          input.required = false;
          label.innerHTML = opRequiredFields[field];
        } else {
          input.required = true;
          label.innerHTML = opRequiredFields[field] + ' ' + requiredHtml;
        }
      });
    }
    state.onchange = setOrderingProviderIsRequired;
    setOrderingProviderIsRequired(); // initialize! 

    /**
     * Aggregate the form data; validate the form; submit
     */
    button.onclick = async () => {
      submitted = true;
      const data = aggregateFormData();

      const formValid = form.reportValidity();
      const groupsValid = groupsAreValid(data);

      // Additionally validate that the default device type has been selected
      let defaultDeviceValid = true;
      const selectedDefaultDeviceIdArray = defaultDeviceRadios
        .filter((e) => e.checked)
        .map((e) => e.value);
      const selectedDefaultDeviceId = selectedDefaultDeviceIdArray && selectedDefaultDeviceIdArray.length ? selectedDefaultDeviceIdArray[0] : false;
      if(selectedDefaultDeviceId && !document.getElementById(selectedDefaultDeviceId).checked) {
        defaultDeviceValid = false;
        const errorSpan = document.getElementById(`default-testing-device-error-message`);
        errorSpan.className = "usa-error-message";
        if(!firstErrorSeen) {
          firstErrorSeen = errorSpan;
        }
      }

      if (!formValid || !groupsValid || !defaultDeviceValid) {
        if(firstErrorSeen) {
          firstErrorSeen.scrollIntoView();
        }
        return;
      }

      {% if site.e2e %}
        const isTestSubmission = document.getElementById('test-submission').checked;
        if (isTestSubmission) {
          window.location.replace("/sign-up/thanks?email=" + encodeURIComponent(data.email));
          return;
        }
      {% endif %}

      try {
        button.disabled = true;
        const response = await fetch("/api/account-request", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        });
        if (response.ok) {
          window.location.replace("/sign-up/thanks?email=" + encodeURIComponent(data.email));
        } else {
          throw "oh no";
        }
      } catch (error) {
        document.getElementById("alert-api-error").className =
          "usa-alert usa-alert--error";
        button.disabled = false;
      }
    };
  })();
</script>
