---
title: "SimpleReport: Testing facility account request"
description: Thanks for requesting access to SimpleReport. We need to collect a bit more information about your facility.
permalink: /sign-up/contact/
layout: default
return_top: 'false'
home_link: true
class: page-form
---

<div class="width-mobile-lg margin-top-8">
  {% include home-link.html  %}
  <div class="usa-prose">
    <h1 class="font-heading-2xl text-primary-darker">{{ page.title }}</h1>
    <p>{{ page.description }}</p>
    <p>
      Required fields are marked with an asterisk ({% include required.html %}).
    </p>
  </div>
</div>

<div class="form-container  width-mobile-lg ">
  <form
    class="usa-form usa-form--large"
    id="account-request-form"
    name="account-request">
    <div class="card border-2px border-base-lighter bg-white radius-lg margin-top-2 padding-4 margin-bottom-4">
      {% include forms/testing-site-information.html %}
    </div>
    <div class="card border-2px border-base-lighter bg-white radius-lg margin-top-2 padding-4 margin-bottom-4">
      {% include forms/ordering-provider.html %}
    </div>
    <div class="card border-2px border-base-lighter bg-white radius-lg margin-top-2 padding-4">
      {% include forms/facility-administrator.html %}
    </div>
    <button class="usa-button usa-button--big" type="submit" value="submit" name="submit">Submit</button>
  </form>
</div>
