---
title: "SimpleReport: Testing facility account request"
description: Thanks for requesting access to SimpleReport. We need to collect a bit more information about your facility.
permalink: /sign-up/
layout: default
return_top: "false"
home_link: true
class: page-form
---

<div class="width-mobile-lg margin-top-8">
  {% include home-link.html %}
  <div class="usa-prose">
    <h1 class="font-heading-2xl text-primary-darker">{{ page.title }}</h1>
    <p>{{ page.description }}</p>
    <p>Fill out this form for locations that provide rapid COVID-19 testing, including:</p>
    <ul>
      <li>K-12 schools</li>
      <li>Congregate living settings (assisted living, long-term care facilities, jails, etc.)</li>
      <li>Universities</li>
      <li>Urgent care centers</li>
      <li>Airports, and more</li>
    </ul>
    <p>
      Required fields are marked with an asterisk ({% include required.html %}).
    </p>
  </div>
</div>

<div class="form-container width-mobile-lg">
  <form
    class="usa-form usa-form--large"
    id="account-request-form"
    name="account-request"
  >
    <div
      class="card border-2px border-base-lighter bg-white radius-lg margin-top-2 padding-4"
    >
      {% include forms/facility-administrator.html %}
    </div>
    <div
      class="card border-2px border-base-lighter bg-white radius-lg padding-4 margin-top-4"
    >
      {% include forms/testing-facility-information.html %}
    </div>
    <div
      class="card border-2px border-base-lighter bg-white radius-lg padding-4 margin-top-4"
    >
      {% include forms/ordering-provider.html %}
    </div>
    <button
      class="usa-button usa-button--big"
      type="submit"
      value="submit"
      name="submit"
    >
      Submit
    </button>
  </form>
</div>

<script>
  const form = document.getElementById("account-request-form");
  form.onsubmit = async (e) => {
    e.preventDefault();
    const stringFields = [
      "first-name",
      "last-name",
      "email",
      "work-phone-number",
      "cell-phone-number",
      "mailing-address1",
      "apt-suite-other",
      "apt-floor-suite-no",
      "city",
      "state",
      "zip",
      "county",
      "organization-name",
      "facility-name",
      "clia-number",
      "workflow",
      "op-first-name",
      "op-last-name",
      "npi",
      "op-phone-number",
      "op-mailing-address1",
      "op-apt-suite-other",
      "op-apt-floor-suite-no",
      "op-city",
      "op-state",
      "op-zip",
      "op-county",
    ];
    const radioFields = [
      "facility-type",
      "records-test-results",
      "process-time",
      "submitting-results-time",
    ];
    const checkboxFields = ["browsers", "testing-devices", "access-devices"];

    const data = {};
    stringFields.forEach(
      (field) => (data[field] = document.getElementsByName(field).item(0).value)
    );

    radioFields.forEach(
      (field) =>
        (data[field] = document.querySelector(
          `input[name=${field}]:checked`
        ).nextElementSibling.textContent)
    );

    checkboxFields.forEach(
      (field) =>
        (data[field] = Array.from(document.getElementsByName(field))
          .filter((e) => e.checked)
          .map((e) => e.nextElementSibling.textContent)
          .join(", "))
    );

    let response = await fetch("http://localhost:8080/account-request", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    });

    if(response.ok) {
      window.alert("Tada");
    } else {
      window.alert("It didn't work");
    }

    // TODO: something with the response, IE put a success message on the page
  };
</script>
