---
title: Join the SimpleReport waiting list
description: Thanks for your interest in SimpleReport. We’re working to make this tool available throughout the country. Fill out this form and we’ll let you know when SimpleReport becomes available in your area.
permalink: /waitlist/
layout: default
return_top: "false"
home_link: true
class: page-form
---

<div class="maxw-mobile-lg margin-x-1 mobile-lg:margin-x-0 margin-top-8">
  <div
    class="form-container card border-2px border-base-lighter bg-white radius-lg margin-top-2 padding-4 margin-bottom-4"
  >
    <div class="usa-prose">
      <h1 class="font-heading-xl text-primary-darker">{{ page.title }}</h1>
      <p>{{ page.description }}</p>
    </div>
    <form class="usa-form" id="waitlist-form" name="waitlist">
      <p>
        Required fields are marked with an asterisk ({% include required.html
        %}).
      </p>
      <label class="usa-label" for="name"
        >Name {% include required.html %}</label
      >
      <input
        class="usa-input"
        id="name"
        name="name"
        type="text"
        spellcheck="false"
        autocomplete="name"
        required
      />
      <label class="usa-label" for="email"
        >Email address {% include required.html %}</label
      >
      <input
        class="usa-input"
        id="email"
        name="email"
        type="email"
        autocapitalize="off"
        autocorrect="off"
        required
      />
      <label class="usa-label" for="phone"
        >Phone number {% include required.html %}</label
      >
      <input
        class="usa-input"
        id="phone"
        name="phone"
        type="tel"
        autocomplete="tel"
        required
      />
      <label class="usa-label" for="state">
        State {% include required.html %}
      </label>
      <div class="usa-combo-box">
        <select class="usa-select" id="state" name="state" required>
          {% include forms/state-options.html %}
        </select>
      </div>
      <label class="usa-label" for="organization"
        >Organization {% include required.html %}</label
      >
      <span class="usa-hint">
        Your facility or the Public Health Department you are representing
      </span>
      <input
        class="usa-input"
        id="organization"
        name="organization"
        type="text"
        required
      />
      <p> Currently, SimpleReport helps facilities report results for:</p>
      <ul style="padding-inline-start:20px">
        <li>COVID-19</li>
        <li>Flu A</li>
        <li>Flu B</li>
        <li>RSV</li>
      </ul>
      <label class="usa-label">Please check the boxes below for the conditions you're interested in reporting:</label>
      <br>
      <div class="checkboxes">
        <div class="usa-checkbox">
          <input class="usa-checkbox__input" type="checkbox" id="interested in COVID-19" name="interested in COVID-19" value="interested in COVID-19">
          <label class="usa-checkbox__label" for="interested in COVID-19">COVID-19</label>
        </div>
        <div class="usa-checkbox">
          <input class="usa-checkbox__input" type="checkbox" id="interested in Flu A" name="interested in Flu A" value="interested in Flu A">
          <label class="usa-checkbox__label" for="interested in Flu A">Flu A</label>
        </div>
        <div class="usa-checkbox">
          <input class="usa-checkbox__input" type="checkbox" id="interested in Flu B" name="interested in Flu B" value="interested in Flu B">
          <label class="usa-checkbox__label" for="interested in Flu B">Flu B</label>
        </div>
        <div class="usa-checkbox">
          <input class="usa-checkbox__input" type="checkbox" id="interested in RSV" name="interested in RSV" value="interested in RSV">
          <label class="usa-checkbox__label" for="interested in RSV">RSV</label>
        </div>
      </div>
      <br>
      <label class="usa-label" for="additional-conditions">If there are any additional conditions you would like to be able to report
        using SimpleReport, please enter them below.</label>
      <textarea
              class="usa-textarea height-10"
              id="additional-conditions"
              name="additional-conditions"
      ></textarea>
      <label class="usa-label" for="referral">How did you hear about us?</label>
      <textarea
              class="usa-textarea height-10"
              id="referral"
              name="referral"
      ></textarea>
      <p class="margin-bottom-0">
        By submitting this form, you agree to our
        <a href="{% link pages/tos.md %}">Terms of Service</a>.
      </p>
      <div
        id="alert-api-error"
        class="usa-alert usa-alert--error display-none"
        role="alert"
      >
        <div class="usa-alert__body">
          <h3 class="usa-alert__heading">Error</h3>
          <p class="usa-alert__text">Failed to submit. Please try again.</p>
        </div>
      </div>
      <button class="usa-button" type="submit" value="submit" name="submit">
        Submit
      </button>
    </form>
  </div>
</div>

<script>
  (function formLogic() {
    const form = document.getElementById("waitlist-form");
    form.onsubmit = async (e) => {
      e.preventDefault();
      const fields = [
        "name",
        "email",
        "phone",
        "state",
        "organization",
        "referral",
        "interested in COVID-19",
        "interested in Flu A",
        "interested in Flu B",
        "interested in RSV",
        "additional-conditions",
      ];

      const data = {};
      fields.forEach(
        (field) => {
          const element = document.getElementById(field);
          if(element.type === "checkbox"){
            data[field] = element.checked;
          } else {
            data[field] = element.value;
          }
        }
      );

      try {
        let response = await fetch("/api/account-request/waitlist", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        });
        if (response.ok) {
          window.location.replace("/waitlist/thanks");
        } else {
          throw "oh no";
        }
      } catch (error) {
        document.getElementById("alert-api-error").className =
          "usa-alert usa-alert--error";
      }
    };
  })();
</script>
