---
title: Join the SimpleReport waiting list
description: Thanks for your interest in SimpleReport. We’re working to make this tool available throughout the country. Fill out this form and we’ll let you know when SimpleReport becomes available in your area.
permalink: /waitlist/
layout: default
return_top: "false"
home_link: true
class: page-form
---

<div class="maxw-mobile-lg margin-x-1 mobile-lg:margin-x-0 margin-top-8">
  <div
    class="form-container card border-2px border-base-lighter bg-white radius-lg margin-top-2 padding-4 margin-bottom-4"
  >
    <div class="usa-prose">
      <h1 class="font-heading-xl text-primary-darker">{{ page.title }}</h1>
      <p>{{ page.description }}</p>
    </div>
    <form class="usa-form" id="waitlist-form" name="waitlist">
      <p>
        Required fields are marked with an asterisk ({% include required.html
        %}).
      </p>
      <label class="usa-label" for="name"
        >Name {% include required.html %}</label
      >
      <input
        class="usa-input form-input"
        id="name"
        name="name"
        type="text"
        spellcheck="false"
        autocomplete="name"
        required
      />
      <label class="usa-label" for="email"
        >Email address {% include required.html %}</label
      >
      <input
        class="usa-input form-input"
        id="email"
        name="email"
        type="email"
        autocapitalize="off"
        autocorrect="off"
        required
      />
      <label class="usa-label" for="phone"
        >Phone number {% include required.html %}</label
      >
      <input
        class="usa-input form-input"
        id="phone"
        name="phone"
        type="tel"
        autocomplete="tel"
        required
      />
      <label class="usa-label" for="state">
        State {% include required.html %}
      </label>
      <div class="usa-combo-box">
        <select class="usa-select form-input" id="state" name="state" required>
          {% include forms/state-options.html %}
        </select>
      </div>
      <label class="usa-label" for="organization"
        >Organization {% include required.html %}</label
      >
      <span class="usa-hint">
        Your facility or the Public Health Department you are representing
      </span>
      <input
        class="usa-input form-input"
        id="organization"
        name="organization"
        type="text"
        required
      />
      <label class="usa-label" for="supported-diseases">Check the boxes below for the conditions you're interested in reporting:</label>
      <div class="checkboxes" id="supported-diseases">
        {% for disease in site.content.supported_diseases %}
          <div class="usa-checkbox">
            <input class="usa-checkbox__input form-input" type="checkbox" id="interested in {{disease}}" name="interested in {{disease}}" value="{{disease}}">
            <label class="usa-checkbox__label" for="interested in {{disease}}">{{disease}}</label>
          </div>
        {% endfor %}
      </div>
      <label class="usa-label" for="additional-conditions">If there are any additional conditions you would like to be able to report
        using SimpleReport, please enter them below.</label>
      <textarea
              class="usa-textarea height-10 form-input"
              id="additional-conditions"
              name="additional-conditions"
      ></textarea>
      <label class="usa-label" for="referral">How did you hear about us?</label>
      <textarea
              class="usa-textarea height-10 form-input"
              id="referral"
              name="referral"
      ></textarea>
      <p class="margin-bottom-0">
        By submitting this form, you agree to our
        <a href="{% link pages/tos.md %}">Terms of Service</a>.
      </p>
      <div
        id="alert-api-error"
        class="usa-alert usa-alert--error display-none"
        role="alert"
      >
        <div class="usa-alert__body">
          <h3 class="usa-alert__heading">Error</h3>
          <p class="usa-alert__text">Failed to submit. Please try again.</p>
        </div>
      </div>
      {% include form-honeypot.html styles="form-input" %}
      <button class="usa-button" type="submit" value="submit" name="submit">
        Submit
      </button>
    </form>
  </div>
</div>

<script>
  (function formLogic() {
    const form = document.getElementById("waitlist-form");
    form.onsubmit = async (e) => {
      e.preventDefault();
      const fieldsToCheck = Array.from(document.getElementsByClassName("form-input"))
      const data = {};
      const diseaseInterest = [];
      fieldsToCheck.forEach(
        (element) => {
          if (element.type === "checkbox"){
            if (element.name.includes("interested in") && element.checked) {
              diseaseInterest.push(element.value);
            }
            else{
              data[element.name] = element.checked;
            }
          }
          else {
            data[element.name] = element.value;
          }
        }
      );
      data["disease-interest"] = diseaseInterest;
      try {
        let response = await fetch("/api/account-request/waitlist", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        });
        if (response.ok) {
          window.location.replace("/waitlist/thanks");
        } else {
          throw "oh no";
        }
      } catch (error) {
        document.getElementById("alert-api-error").className =
          "usa-alert usa-alert--error";
      }
    };
  })();
</script>
