---
layout: default
main:
  class: usa-layout-docs usa-layout-docs__main desktop:grid-col-9 usa-prose
---

{% assign sidenav = site.data.navigation[page.sidenav] | default: page.sidenav
%}

<div class="usa-section">
  <div class="grid-container">
    {% if page.class contains "page-docs" %}
    <div
      class="display-block tablet:display-flex flex-justify tablet:margin-top-neg-3 tablet:margin-bottom-2"
    >
      {% include components/search.html %} {% include breadcrumbs.html %}
    </div>
    <div class="grid-row grid-gap flex-align-start">
      {% endif %} {% if sidenav %}
      <div
        class="usa-layout-docs__sidenav desktop:grid-col-3{% if page.sticky_sidenav %} usa-sticky-sidenav{% endif %}"
      >
        {% include sidenav-custom.html %}
      </div>
      {% endif %}

      <main
        class="usa-layout-docs usa-layout-docs__main usa-prose{% if sidenav %} desktop:grid-col-9{% endif %}"
      >
        {% if page.title and page.title_display != "false" %}
        <h1 class="margin-top-0">
          {{ page.title }}
        </h1>
        {% endif %} {{ content }}
      </main>
      {% if page.class contains "page-docs" %}
    </div>
    {% endif %}
  </div>
</div>
