<div class="usa-fieldset">
  <h2 class="usa-legend usa-legend--large margin-y-0">
    Organization information
  </h2>
  <label class="usa-label" for="organization-name"
    >What’s the name of your
    <span
      class="usa-tooltip"
      data-position="top"
      title="Organizations have multiple testing facilities or locations as part of their network."
      >organization?<svg
        class="usa-icon margin-left-2px"
        aria-hidden="true"
        focusable="false"
        role="img"
      >
        <use xlink:href="/assets/uswds/img/sprite.svg#info_outline"></use></svg
    ></span>
    {% include required.html %}</label
  >
  <p class="usa-hint margin-top-1 font-body-2xs">
    Your organization name as written here is reported to the public health
    department and can’t be changed, so double check you’ve entered it
    correctly.
  </p>
  <p class="usa-hint font-body-2xs">
    If you have only one location, then enter that name for both your
    organization and testing facility.
  </p>
  <input
    class="usa-input"
    id="organization-name"
    name="organization-name"
    type="text"
    spellcheck="false"
    required
  />
  <fieldset class="usa-fieldset margin-top-3">
    <legend class="usa-legend font-ui-lg text-medium text-primary-darker">
      Organization administrator
    </legend>
    <p class="text-base font-body-2xs">
      Only one person from an organization needs to request access to
      SimpleReport. This person — called the account administrator — can add
      individual testing facilities after creating the organization account. The
      administrator is responsible for making sure that appropriate staff
      members and testing facilities within your network get access to
      SimpleReport.
    </p>
    <label class="usa-label" for="fa-first-name"
      >First name {% include required.html %}</label
    >
    <input
      class="usa-input"
      id="fa-first-name"
      name="first-name"
      type="text"
      spellcheck="false"
      autocomplete="given-name"
      required
    />
    <label class="usa-label" for="fa-last-name"
      >Last name {% include required.html %}</label
    >
    <input
      class="usa-input"
      id="fa-last-name"
      name="last-name"
      type="text"
      spellcheck="false"
      autocomplete="family-name"
      required
    />
    <label class="usa-label" for="fa-email"
      >Email address {% include required.html %}</label
    >
    <input
      class="usa-input"
      id="fa-email"
      name="email"
      type="email"
      autocapitalize="off"
      autocorrect="off"
      required
    />
    <label class="usa-label" for="fa-work-phone-number"
      >Work phone number {% include required.html %}</label
    >
    <input
      class="usa-input"
      id="fa-work-phone-number"
      name="work-phone-number"
      type="tel"
      autocomplete="tel"
      required
    />
    <label class="usa-label" for="fa-cell-phone-number"
      >Cell phone number</label
    >
    <input
      class="usa-input"
      id="fa-cell-phone-number"
      name="cell-phone-number"
      type="tel"
      autocomplete="tel"
    />
  </fieldset>
</div>
