<div class="usa-fieldset">
  <h2 class="usa-legend usa-legend--large margin-y-0">
    Organization information
  </h2>
  <label class="usa-label" for="organization-name"
    >What’s the name of your
    <span
      class="usa-tooltip"
      data-position="top"
      title="Organizations have multiple testing facilities or locations as part of their network."
      >organization?<svg
        class="usa-icon margin-left-2px"
        aria-hidden="true"
        focusable="false"
        role="img"
      >
        <use xlink:href="/assets/uswds/img/sprite.svg#info_outline"></use></svg
    ></span>
    {% include required.html %}</label
  >
  <input
    class="usa-input"
    id="organization-name"
    name="organization-name"
    type="text"
    spellcheck="false"
    required
  />
  <label class="usa-label" for="state" id="state-label">Organization state
    <abbr title="required" class="usa-hint usa-hint--required">*</abbr></label>
  <div class="usa-combo-box" data-enhanced="true">
    <select class="usa-select usa-sr-only usa-combo-box__select" id="" name="state" aria-hidden="true" tabindex="-1">
      {% include forms/state-options.html %}
    </select>
    <input aria-owns="state--list" aria-autocomplete="list" aria-describedby="state--assistiveHint" aria-expanded="false"
      autocapitalize="off" autocomplete="off" id="state" class="usa-combo-box__input" type="text" role="combobox"
      required="" /><span class="usa-combo-box__clear-input__wrapper" tabindex="-1">
      <button type="button" class="usa-combo-box__clear-input" aria-label="Clear the select contents">
        &nbsp;
      </button> </span><span class="usa-combo-box__input-button-separator">&nbsp;</span><span
      class="usa-combo-box__toggle-list__wrapper" tabindex="-1">
      <button type="button" tabindex="-1" class="usa-combo-box__toggle-list" aria-label="Toggle the dropdown list">
        &nbsp;
      </button>
    </span>
    <ul tabindex="-1" id="state--list" class="usa-combo-box__list" role="listbox" aria-labelledby="state-label" hidden="">
    </ul>
    <div class="usa-combo-box__status usa-sr-only" role="status"></div>
    <span id="state--assistiveHint" class="usa-sr-only">
      When autocomplete results are available use up and down arrows to review
      and enter to select. Touch device users, explore by touch or with swipe
      gestures.
    </span>
  </div>
  <fieldset class="usa-fieldset margin-top-3">
    <legend class="usa-legend">
      Organization type {% include required.html %}
    </legend>
    <span class="usa-error-message display-none" id="organization-type-error-message">This field is required</span>
    <div class="usa-radio">
      <input class="usa-radio__input" id="airport" name="organization-type" type="radio" value="airport" />
      <label class="usa-radio__label" for="airport">Airport/Transit station</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="assisted_living" name="organization-type" type="radio" value="assisted_living" />
      <label class="usa-radio__label" for="assisted_living">Assisted living facility</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="camp" name="organization-type" type="radio" value="camp" />
      <label class="usa-radio__label" for="camp">Camp</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="university" name="organization-type" type="radio" value="university" />
      <label class="usa-radio__label" for="university">College/University</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="correctional_facility" name="organization-type" type="radio"
        value="correctional_facility" />
      <label class="usa-radio__label" for="correctional_facility">Correctional facility</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="employer" name="organization-type" type="radio" value="employer" />
      <label class="usa-radio__label" for="employer">Employer</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="fqhc" name="organization-type" type="radio" value="fqhc" />
      <label class="usa-radio__label" for="fqhc">Federally Qualified Health Center (FQHC)</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="government_agency" name="organization-type" type="radio"
        value="government_agency" />
      <label class="usa-radio__label" for="government_agency">Government agency</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="shelter" name="organization-type" type="radio" value="shelter" />
      <label class="usa-radio__label" for="shelter">Homeless shelter</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="hospice" name="organization-type" type="radio" value="hospice" />
      <label class="usa-radio__label" for="hospice">Hospice</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="hospital" name="organization-type" type="radio" value="hospital" />
      <label class="usa-radio__label" for="hospital">Hospital or clinic</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="k12" name="organization-type" type="radio" value="k12" />
      <label class="usa-radio__label" for="k12">K-12 school</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="lab" name="organization-type" type="radio" value="lab" />
      <label class="usa-radio__label" for="lab">Lab</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="nursing_home" name="organization-type" type="radio" value="nursing_home" />
      <label class="usa-radio__label" for="nursing_home">Nursing home</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="other" name="organization-type" type="radio" value="other" />
      <label class="usa-radio__label" for="other">Other</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="pharmacy" name="organization-type" type="radio" value="pharmacy" />
      <label class="usa-radio__label" for="pharmacy">Pharmacy</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="primary_care" name="organization-type" type="radio" value="primary_care" />
      <label class="usa-radio__label" for="primary_care">Primary care/Mental health outpatient</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="treatment_center" name="organization-type" type="radio"
        value="treatment_center" />
      <label class="usa-radio__label" for="treatment_center">Substance abuse treatment center</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="urgent_care" name="organization-type" type="radio" value="urgent_care" />
      <label class="usa-radio__label" for="urgent_care">Urgent care</label>
    </div>
  </fieldset>
  <fieldset class="usa-fieldset margin-top-4">
    <label class="usa-label">
      <strong>Organization administrator</strong> <span class="usa-tooltip" data-position="top"
        title="Can be anyone that works at your organization. Adds testing facility locations and manages the organization account.">What's an organization administrator?<svg
          class="usa-icon margin-left-2px" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="/assets/uswds/img/sprite.svg#info_outline"></use>
        </svg></span>
      </label>
    <p class="text-base font-body-2xs">
      Only one person from an organization can be the administrator. This person will submit information for identity
      verifcation.
    </p>
    <label class="usa-label" for="oa-first-name"
      >First name {% include required.html %}</label
    >
    <input
      class="usa-input"
      id="oa-first-name"
      name="first-name"
      type="text"
      spellcheck="false"
      autocomplete="given-name"
      required
    />
    <label class="usa-label" for="oa-middle-name">Middle name</label>
    <input class="usa-input" id="oa-middle-name" name="middle-name" type="text" spellcheck="false" autocomplete="middle-name" />
    <label class="usa-label" for="oa-last-name"
      >Last name {% include required.html %}</label
    >
    <input
      class="usa-input"
      id="oa-last-name"
      name="last-name"
      type="text"
      spellcheck="false"
      autocomplete="family-name"
      required
    />
    <label class="usa-label" for="oa-email"
      >Email address {% include required.html %}</label
    >
    <input
      class="usa-input"
      id="oa-email"
      name="email"
      type="email"
      autocapitalize="off"
      autocorrect="off"
      required
    />
    <label class="usa-label" for="oa-work-phone-number"
      >Work phone number {% include required.html %}</label
    >
    <input
      class="usa-input"
      id="oa-work-phone-number"
      name="work-phone-number"
      type="tel"
      autocomplete="tel"
      required
    />
  </fieldset>
</div>
