<div class="usa-fieldset">
  <h2 class="usa-legend usa-legend--large margin-y-0">
    Testing workflow
  </h2>
  <fieldset class="usa-fieldset margin-top-3">
    <legend class="usa-legend usa-legend">
      Which device(s) do you use for COVID-19 rapid testing? {% include
      required.html %}
    </legend>
    <span
      class="usa-error-message display-none"
      id="testing-devices-error-message"
      >This field is required</span
    >
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="abbott-binaxnow-cards"
        type="checkbox"
        name="testing-devices"
        value="abbott-binaxnow-cards"
      />
      <label class="usa-checkbox__label" for="abbott-binaxnow-cards"
        >Abbott BinaxNow</label
      >
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="abbott-id-now"
        type="checkbox"
        name="testing-devices"
        value="abbott-id-now"
      />
      <label class="usa-checkbox__label" for="abbott-id-now"
        >Abbott IDNow</label
      >
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="access-bio-carestart"
        type="checkbox"
        name="testing-devices"
        value="access-bio-carestart"
      />
      <label class="usa-checkbox__label" for="access-bio-carestart"
        >Access Bio CareStart</label
      >
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="bd-veritor"
        type="checkbox"
        name="testing-devices"
        value="bd-veritor"
      />
      <label class="usa-checkbox__label" for="bd-veritor">BD Veritor</label>
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="cuetm"
        type="checkbox"
        name="testing-devices"
        value="cuetm"
      />
      <label class="usa-checkbox__label" for="cuetm">Cue</label>
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="lumiradx"
        type="checkbox"
        name="testing-devices"
        value="lumiradx"
      />
      <label class="usa-checkbox__label" for="lumiradx">LumiraDX</label>
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="quidel-sofia"
        type="checkbox"
        name="testing-devices"
        value="quidel-sofia"
      />
      <label class="usa-checkbox__label" for="quidel-sofia">Quidel Sofia</label>
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="quidel-sofia-2"
        type="checkbox"
        name="testing-devices"
        value="quidel-sofia-2"
      />
      <label class="usa-checkbox__label" for="quidel-sofia-2"
        >Quidel Sofia 2</label
      >
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="other-testing-device"
        type="checkbox"
        name="testing-devices"
        value="other"
      />
      <label class="usa-checkbox__label" for="other-testing-device"
        >Other*</label
      >
    </div>
  </fieldset>
  <label class="usa-label" for="other-testing-device-type">*Other device</label>
  <input
    class="usa-input"
    id="other-testing-device-type"
    name="testing-device-other"
    type="text"
  />
  <fieldset class="usa-fieldset margin-top-3">
    <legend class="usa-legend usa-legend">
      What’s the primary device you use for COVID-19 rapid testing? {% include
      required.html %}
    </legend>
    <span
      class="usa-error-message display-none"
      id="default-testing-device-error-message"
      >The primary device must appear in the list of devices selected
      above</span
    >
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="default-abbott-binaxnow-cards"
        type="radio"
        name="default-testing-device"
        value="abbott-binaxnow-cards"
      />
      <label class="usa-radio__label" for="default-abbott-binaxnow-cards"
        >Abbott BinaxNow</label
      >
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="default-abbott-id-now"
        type="radio"
        name="default-testing-device"
        value="abbott-id-now"
      />
      <label class="usa-radio__label" for="default-abbott-id-now"
        >Abbott IDNow</label
      >
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="default-access-bio-carestart"
        type="radio"
        name="default-testing-device"
        value="access-bio-carestart"
      />
      <label class="usa-radio__label" for="default-access-bio-carestart"
        >Access Bio CareStart</label
      >
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="default-bd-veritor"
        type="radio"
        name="default-testing-device"
        value="bd-veritor"
      />
      <label class="usa-radio__label" for="default-bd-veritor"
        >BD Veritor</label
      >
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="default-cuetm"
        type="radio"
        name="default-testing-device"
        value="cuetm"
      />
      <label class="usa-radio__label" for="default-cuetm">Cue</label>
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="default-lumiradx"
        type="radio"
        name="default-testing-device"
        value="lumiradx"
      />
      <label class="usa-radio__label" for="default-lumiradx">LumiraDX</label>
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="default-quidel-sofia"
        type="radio"
        name="default-testing-device"
        value="quidel-sofia"
      />
      <label class="usa-radio__label" for="default-quidel-sofia"
        >Quidel Sofia</label
      >
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="default-quidel-sofia-2"
        type="radio"
        name="default-testing-device"
        value="quidel-sofia-2"
      />
      <label class="usa-radio__label" for="default-quidel-sofia-2"
        >Quidel Sofia 2</label
      >
    </div>
  </fieldset>
</div>
