<div class="usa-fieldset">
  <h2 class="usa-legend usa-legend--large margin-y-0">
    Testing facility information
  </h2>
  <label class="usa-label" for="facility-name"
    >What’s the name of your
    <span
      class="usa-tooltip tooltip--testing-facility"
      data-position="top"
      title="Individual locations that are part of a bigger organization."
      >testing facility?<svg
        class="usa-icon margin-left-2px"
        aria-hidden="true"
        focusable="false"
        role="img"
      >
        <use xlink:href="/assets/uswds/img/sprite.svg#info_outline"></use></svg
    ></span>
    {% include required.html %}</label
  >
  <p class="usa-hint margin-top-1 font-body-2xs">
    List the name of just one testing facility here for now. If your
    organization has multiple testing facilities or locations you can add them
    after you create your account.
  </p>
  <p class="usa-hint font-body-2xs tablet:display-none">
    Testing facilities include individual locations that are part of a bigger
    organization.
  </p>
  <input
    class="usa-input"
    id="facility-name"
    name="facility-name"
    type="text"
    spellcheck="false"
    required
  />
  <fieldset class="usa-fieldset margin-top-4">
    <legend class="legend--md">
      Testing facility contact information
    </legend>
    <label class="usa-label" for="street-address1">
      Street address
      <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
    </label>
    <input
      class="usa-input"
      id="street-address1"
      name="street-address1"
      type="text"
      required=""
    />
    <label class="usa-label" for="street-address2">
      Street address 2
    </label>
    <input
      class="usa-input"
      id="street-address2"
      name="street-address2"
      type="text"
    />
    <label class="usa-label" for="city"
      >City
      <abbr title="required" class="usa-hint usa-hint--required">*</abbr></label
    >
    <input class="usa-input" id="city" name="city" type="text" required="" />
    <label class="usa-label" for="state" id="state-label"
      >State
      <abbr title="required" class="usa-hint usa-hint--required">*</abbr></label
    >
    <div class="usa-combo-box" data-enhanced="true">
      <select
        class="usa-select usa-sr-only usa-combo-box__select"
        id=""
        name="state"
        aria-hidden="true"
        tabindex="-1"
      >
        {% include forms/state-options.html %}
      </select>
      <input
        aria-owns="state--list"
        aria-autocomplete="list"
        aria-describedby="state--assistiveHint"
        aria-expanded="false"
        autocapitalize="off"
        autocomplete="off"
        id="state"
        class="usa-combo-box__input"
        type="text"
        role="combobox"
        required=""
      /><span class="usa-combo-box__clear-input__wrapper" tabindex="-1">
        <button
          type="button"
          class="usa-combo-box__clear-input"
          aria-label="Clear the select contents"
        >
          &nbsp;
        </button> </span
      ><span class="usa-combo-box__input-button-separator">&nbsp;</span
      ><span class="usa-combo-box__toggle-list__wrapper" tabindex="-1">
        <button
          type="button"
          tabindex="-1"
          class="usa-combo-box__toggle-list"
          aria-label="Toggle the dropdown list"
        >
          &nbsp;
        </button>
      </span>
      <ul
        tabindex="-1"
        id="state--list"
        class="usa-combo-box__list"
        role="listbox"
        aria-labelledby="state-label"
        hidden=""
      ></ul>
      <div class="usa-combo-box__status usa-sr-only" role="status"></div>
      <span id="state--assistiveHint" class="usa-sr-only">
        When autocomplete results are available use up and down arrows to review
        and enter to select. Touch device users, explore by touch or with swipe
        gestures.
      </span>
    </div>
    <label class="usa-label" for="zip"
      >ZIP code
      <abbr title="required" class="usa-hint usa-hint--required">*</abbr></label
    >
    <input
      class="usa-input usa-input--medium"
      id="zip"
      name="zip"
      type="text"
      pattern="[\d]{5}(-[\d]{4})?"
      required=""
    />
    <label class="usa-label" for="county"
      >County {% include required.html %}</label
    >
    <input
      class="usa-input"
      id="county"
      name="county"
      type="text"
      spellcheck="false"
      required
    />
    <label class="usa-label" for="facility-phone-number"
      >Phone number {% include required.html %}</label
    >
    <input
      class="usa-input"
      id="facility-phone-number"
      name="facility-phone-number"
      type="tel"
      autocomplete="tel"
      required
    />
  </fieldset>
  <h3 class="legend--md">Testing facility type</h3>
  <fieldset class="usa-fieldset margin-top-3">
    <legend class="usa-legend">
      What kind of testing facility do you work with? {% include required.html
      %}
    </legend>
    <span
      class="usa-error-message display-none"
      id="facility-type-error-message"
      >This field is required</span
    >
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="airport"
        name="facility-type"
        type="radio"
        value="airport"
      />
      <label class="usa-radio__label" for="airport">Airport</label>
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="hospital-or-clinic"
        name="facility-type"
        type="radio"
        value="hospital-or-clinic"
      />
      <label class="usa-radio__label" for="hospital-or-clinic"
        >Hospital or clinic</label
      >
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="k-12-school"
        name="facility-type"
        type="radio"
        value="k-12-school"
      />
      <label class="usa-radio__label" for="k-12-school">K-12 school</label>
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="long-term-care-facility"
        name="facility-type"
        type="radio"
        value="long-term-care-facility"
      />
      <label class="usa-radio__label" for="long-term-care-facility"
        >Long-term care facility</label
      >
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="university"
        name="facility-type"
        type="radio"
        value="university"
      />
      <label class="usa-radio__label" for="university">University</label>
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="urgent-care-center"
        name="facility-type"
        type="radio"
        value="urgent-care-center"
      />
      <label class="usa-radio__label" for="urgent-care-center"
        >Urgent care center</label
      >
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="other-facility"
        name="facility-type"
        type="radio"
        value="other"
      />
      <label class="usa-radio__label" for="other-facility">Other*</label>
    </div>
  </fieldset>
  <label class="usa-label" for="facility-type-other">*Other facility</label>
  <input
    class="usa-input"
    id="facility-type-other"
    name="facility-type-other"
    type="text"
  />
  <h3 class="legend--md">CLIA certification</h3>
  <label class="usa-label" for="clia-number"
    >Clinical Laboratory Improvement Amendments (CLIA) number {% include
    required.html %}</label
  >
  <input
    class="usa-input"
    id="clia-number"
    name="clia-number"
    type="text"
    required
  />
</div>
