<div class="usa-fieldset">
  <h2 class="usa-legend usa-legend--large margin-y-0">
    Testing workflow
  </h2>
  <fieldset class="usa-fieldset margin-top-3">
    <legend class="usa-legend usa-legend">
      Which device(s) do you use for COVID-19 rapid testing? {% include
      required.html %}
    </legend>
    <span
      class="usa-error-message display-none"
      id="testing-devices-error-message"
      >This field is required</span
    >
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="abbott-binaxnow-cards"
        type="checkbox"
        name="testing-devices"
        value="abbott-binaxnow-cards"
      />
      <label class="usa-checkbox__label" for="abbott-binaxnow-cards"
        >Abbott BinaxNow</label
      >
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="abbott-id-now"
        type="checkbox"
        name="testing-devices"
        value="abbott-id-now"
      />
      <label class="usa-checkbox__label" for="abbott-id-now"
        >Abbott IDNow</label
      >
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="access-bio-carestart"
        type="checkbox"
        name="testing-devices"
        value="access-bio-carestart"
      />
      <label class="usa-checkbox__label" for="access-bio-carestart"
        >Access Bio CareStart</label
      >
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="bd-veritor"
        type="checkbox"
        name="testing-devices"
        value="bd-veritor"
      />
      <label class="usa-checkbox__label" for="bd-veritor">BD Veritor</label>
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="cuetm"
        type="checkbox"
        name="testing-devices"
        value="cuetm"
      />
      <label class="usa-checkbox__label" for="cuetm">Cue</label>
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="lumiradx"
        type="checkbox"
        name="testing-devices"
        value="lumiradx"
      />
      <label class="usa-checkbox__label" for="lumiradx">LumiraDX</label>
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="quidel-sofia"
        type="checkbox"
        name="testing-devices"
        value="quidel-sofia"
      />
      <label class="usa-checkbox__label" for="quidel-sofia">Quidel Sofia</label>
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="quidel-sofia-2"
        type="checkbox"
        name="testing-devices"
        value="quidel-sofia-2"
      />
      <label class="usa-checkbox__label" for="quidel-sofia-2"
        >Quidel Sofia 2</label
      >
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="other-testing-device"
        type="checkbox"
        name="testing-devices"
        value="other"
      />
      <label class="usa-checkbox__label" for="other-testing-device"
        >Other*</label
      >
    </div>
  </fieldset>
  <label class="usa-label" for="other-testing-device-type">*Other device</label>
  <input
    class="usa-input"
    id="other-testing-device-type"
    name="testing-device-other"
    type="text"
  />
  <fieldset class="usa-fieldset margin-top-3">
    <legend class="usa-legend usa-legend">
      What’s the primary device you use for COVID-19 rapid testing? {% include
      required.html %}
    </legend>
    <span
      class="usa-error-message display-none"
      id="default-testing-device-error-message"
      >The primary device must appear in the list of devices selected
      above</span
    >
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="default-abbott-binaxnow-cards"
        type="radio"
        name="default-testing-device"
        value="abbott-binaxnow-cards"
      />
      <label class="usa-radio__label" for="default-abbott-binaxnow-cards"
        >Abbott BinaxNow</label
      >
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="default-abbott-id-now"
        type="radio"
        name="default-testing-device"
        value="abbott-id-now"
      />
      <label class="usa-radio__label" for="default-abbott-id-now"
        >Abbott IDNow</label
      >
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="default-access-bio-carestart"
        type="radio"
        name="default-testing-device"
        value="access-bio-carestart"
      />
      <label class="usa-radio__label" for="default-access-bio-carestart"
        >Access Bio CareStart</label
      >
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="default-bd-veritor"
        type="radio"
        name="default-testing-device"
        value="bd-veritor"
      />
      <label class="usa-radio__label" for="default-bd-veritor"
        >BD Veritor</label
      >
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="default-cuetm"
        type="radio"
        name="default-testing-device"
        value="cuetm"
      />
      <label class="usa-radio__label" for="default-cuetm">Cue</label>
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="default-lumiradx"
        type="radio"
        name="default-testing-device"
        value="lumiradx"
      />
      <label class="usa-radio__label" for="default-lumiradx">LumiraDX</label>
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="default-quidel-sofia"
        type="radio"
        name="default-testing-device"
        value="quidel-sofia"
      />
      <label class="usa-radio__label" for="default-quidel-sofia"
        >Quidel Sofia</label
      >
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="default-quidel-sofia-2"
        type="radio"
        name="default-testing-device"
        value="quidel-sofia-2"
      />
      <label class="usa-radio__label" for="default-quidel-sofia-2"
        >Quidel Sofia 2</label
      >
    </div>
  </fieldset>
  <fieldset class="usa-fieldset margin-top-3">
    <legend class="usa-legend usa-legend">
      Which devices will you use to access SimpleReport? {% include
      required.html %}
    </legend>
    <span
      class="usa-error-message display-none"
      id="access-devices-error-message"
      >This field is required</span
    >
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="laptop-computer"
        type="checkbox"
        name="access-devices"
        value="laptop-computer"
      />
      <label class="usa-checkbox__label" for="laptop-computer"
        >Laptop computer</label
      >
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="desktop-computer"
        type="checkbox"
        name="access-devices"
        value="desktop-computer"
      />
      <label class="usa-checkbox__label" for="desktop-computer"
        >Desktop computer</label
      >
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="ipad-or-tablet"
        type="checkbox"
        name="access-devices"
        value="ipad-or-tablet"
      />
      <label class="usa-checkbox__label" for="ipad-or-tablet"
        >iPad or tablet</label
      >
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="smartphone"
        type="checkbox"
        name="access-devices"
        value="smartphone"
      />
      <label class="usa-checkbox__label" for="smartphone">Smartphone</label>
    </div>
  </fieldset>
  <fieldset class="usa-fieldset margin-top-3">
    <legend class="usa-legend usa-legend">
      Which web browsers do you use on those devices? {% include required.html
      %}
    </legend>
    <span class="usa-error-message display-none" id="browsers-error-message"
      >This field is required</span
    >
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="chrome"
        type="checkbox"
        name="browsers"
        value="chrome"
      />
      <label class="usa-checkbox__label" for="chrome">Chrome</label>
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="firefox"
        type="checkbox"
        name="browsers"
        value="firefox"
      />
      <label class="usa-checkbox__label" for="firefox">Firefox</label>
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="safari"
        type="checkbox"
        name="browsers"
        value="safari"
      />
      <label class="usa-checkbox__label" for="safari">Safari</label>
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="other-browser"
        type="checkbox"
        name="browsers"
        value="other-browser"
      />
      <label class="usa-checkbox__label" for="other-browser">Other*</label>
    </div>
  </fieldset>
  <label class="usa-label" for="browsers-other">*Other browser</label>
  <input
    class="usa-input"
    id="browsers-other"
    name="browsers-other"
    type="text"
  />
  <label class="usa-label" for="workflow"
    >Briefly describe your testing workflow.</label
  >
  <textarea class="usa-textarea" id="workflow" name="workflow"></textarea>
  <fieldset class="usa-fieldset margin-top-3">
    <legend class="usa-legend usa-legend">
      In your testing process, does the person who checks people in also record
      test results? {% include required.html %}
    </legend>
    <span
      class="usa-error-message display-none"
      id="records-test-results-error-message"
      >This field is required</span
    >
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="records-test-results-yes"
        type="radio"
        name="records-test-results"
        value="yes"
      />
      <label class="usa-radio__label" for="records-test-results-yes">Yes</label>
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="records-test-results-no"
        type="radio"
        name="records-test-results"
        value="no"
      />
      <label class="usa-radio__label" for="records-test-results-no">No</label>
    </div>
  </fieldset>
  <fieldset class="usa-fieldset margin-top-3">
    <legend class="usa-legend usa-legend">
      Approximately how long does the registration/check-in and testing process
      take for a single person? {% include required.html %}
    </legend>
    <span class="usa-error-message display-none" id="process-time-error-message"
      >This field is required</span
    >
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="less-than-15-mins"
        type="radio"
        name="process-time"
        value="less-than-15-mins"
      />
      <label class="usa-radio__label" for="less-than-15-mins"
        >Less than 15 minutes</label
      >
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="15-to-30-mins"
        type="radio"
        name="process-time"
        value="15-to-30-mins"
      />
      <label class="usa-radio__label" for="15-to-30-mins"
        >15<span class="margin-x-1px">–</span>30 minutes</label
      >
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="30-to-45-mins"
        type="radio"
        name="process-time"
        value="30-to-45-mins"
      />
      <label class="usa-radio__label" for="30-to-45-mins"
        >30<span class="margin-x-1px">–</span>45 minutes</label
      >
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="45-mins-to-1-hr"
        type="radio"
        name="process-time"
        value="45-mins-to-1-hr"
      />
      <label class="usa-radio__label" for="45-mins-to-1-hr"
        >45 minutes to one hour</label
      >
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="more-than-an-hr"
        type="radio"
        name="process-time"
        value="more-than-an-hr"
      />
      <label class="usa-radio__label" for="more-than-an-hr"
        >More than an hour</label
      >
    </div>
  </fieldset>
  <fieldset class="usa-fieldset margin-top-3">
    <legend class="usa-legend usa-legend">
      Approximately how much time do you spend every day submitting results to
      your public health department? {% include required.html %}
    </legend>
    <span
      class="usa-error-message display-none"
      id="submitting-results-time-error-message"
      >This field is required</span
    >
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="less-than-30-mins"
        type="radio"
        name="submitting-results-time"
        value="less-than-30-mins"
      />
      <label class="usa-radio__label" for="less-than-30-mins"
        >Less than 30 minutes</label
      >
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="30-mins-to-one-hr"
        type="radio"
        name="submitting-results-time"
        value="30-mins-to-one-hr"
      />
      <label class="usa-radio__label" for="30-mins-to-one-hr"
        >30 minutes to one hour</label
      >
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="1-to-2-hrs"
        type="radio"
        name="submitting-results-time"
        value="1-to-2-hrs"
      />
      <label class="usa-radio__label" for="1-to-2-hrs"
        >1<span class="margin-x-1px">–</span>2 hours</label
      >
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="more-than-2-hrs"
        type="radio"
        name="submitting-results-time"
        value="more-than-2-hrs"
      />
      <label class="usa-radio__label" for="more-than-2-hrs"
        >More than 2 hours</label
      >
    </div>
  </fieldset>
</div>
