name: Deploy to Prod

on:
  workflow_dispatch:
    env:
      description: 'environment to deploy'
      default: 'prod'
      required: true

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "14"
      - name: Set up Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.6
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Deploy static landing page
        run: npm run deploy-azure-prod
      - name: Purge CDN
        run: az cdn endpoint purge --resource-group prime-simple-report-prod --profile-name simple-report-prod --name simple-report-prod --content-paths "/*" --no-wait